@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.header{
animation: slideInFromLeft 1s ease 0s 1 normal both;
color: orange;
font-family: bold;
font-style: italic;
}

.vertical-timeline-element-title{
    color:black;
}
.vertical-timeline-element-subtitle{
    color:black;
    font-style: oblique;
}
.subtext{
    color:black;
}

.bubble {
    background-color: #007acc;
    /* Background color of the bubble */
    color: white;
    /* Text color inside the bubble */
    padding: 8px 12px;
    /* Padding inside the bubble */
    border-radius: 20px;
    /* Rounded corners to make it look like a bubble */
    display: inline-block;
    /* Display the bubble as an inline block */
    margin-top: 8px;
    /* Add some spacing between bubbles */
}

.bubbleOrange {
    background-color: #f26622;
    /* Background color of the bubble */
    color: white;
    /* Text color inside the bubble */
    padding: 8px 12px;
    margin-right: 5px;
    /* Padding inside the bubble */
    border-radius: 20px;
    /* Rounded corners to make it look like a bubble */
    display: inline-block;
    /* Display the bubble as an inline block */
    margin-top: 8px;
    /* Add some spacing between bubbles */
}

.bubblePort {
    background-color:orange;
    /* Background color of the bubble */
    color: white;
    /* Text color inside the bubble */
    padding: 5px 5px;
    margin-right: 5px;
    /* Padding inside the bubble */
    border-radius: 20px;
    /* Rounded corners to make it look like a bubble */
    display: inline-block;
   
}