.slideInTops {
    animation: slideInTop 1s ease-in-out;
    color: orange;
    font-family: bold;
    font-style: italic;
  }
  
  @keyframes slideInTop {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  